html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--body-bg);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  padding: 2em;
  padding-bottom: 0;
}
